<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="IoTHubConnectionString" value="HostName=elmi-iothub.azure-devices.net;DeviceId=FanSimulatorID;SharedAccessKey=bauWpwRPZ6zSVd+0UlZ+6c4RdrqwQ6oVpettR+1jIw4="/>
		<add key="DeviceId" value="FanSimulatorID"/>
	</appSettings>
</configuration>